name: Generate manual

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Install Additional Software
      run: |
        sudo apt install latexmk texlive-base texlive-fonts-extra texlive-fonts-recommended texlive-latex-base texlive-latex-extra texlive-latex-recommended tex-gyre --no-install-recommends --no-install-suggests
        pip3 install Sphinx
        pip3 install sphinx_rtd_theme
    - name: Generate sphinx manual (HTML only)
      run: |
        export PATH=~/.local/bin:$PATH
        make html
    - name: Generate forwarding page
      run: |
        export PATH=~/.local/bin:$PATH
        cd build/html
        python ../../generateForward.py
    - name: Publish sphinx documentation
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
        branch: html
        folder: build/html
    - name: Generate sphinx manual
      run: |
        export PATH=~/.local/bin:$PATH
        make epub
        make latexpdf
        mv build/latex/enrouteflightnavigation.pdf build/html/manual.pdf
        mv build/epub/EnrouteFlightNavigation.epub build/html/manual.epub
        echo "" >build/html/.nojekyll
    - name: Publish sphinx documentation
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
        branch: pages
        folder: build/html
